.header-img{
    display: flex;
    position:relative;
    background: url("/Picture/home2.webp") center center/cover no-repeat;
    width: 100%;
    height: 50vh;
}

.about {
    display: grid;
    width: 80vw;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin-top: 3rem;
  }
  .griditem {
    justify-self: center;
    font-size: 13px;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 1px 2px 0.5px rgba(0, 0, 0, 0.25);
    padding: 6%;
    p{  text-align: justify;
        text-justify: inter-word;
    }
    h2{
        font-weight: 400;
        text-align: center;
    }
  }

  
/*statistic*/

.statistic {
    display: grid;
    align-items: center;
    margin-top: 5rem;
    background: url("/Picture/home1.webp"), lightgray 50% / cover no-repeat;
    width: 100%;
    height: 250px;
    gap: 2rem;
  }
  .statisticCon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80vw;
    margin: auto;
  }
  .statisticItem {
    justify-self: center;
    text-align: center;
    font-size: 13px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 224px;
    height: 148px;
  }
  .statisticItem h2 {
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    margin-top: 20px;
    line-height: 40px;
    letter-spacing: 3px;
  }
  .statisticItem p {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    margin-top: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1px;
  }
  
  