.homeBack {
  flex-direction: column;
}

.homeBack article {
  flex: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.homeBack article h2 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1.15px;
  background-color: #ff9900;
  width: 602px;
  height: 40px;
}
.homeBack article p {
    
    background-color: rgba(0, 0, 0, 0.60);
    width: 555px;
height: 80px;
flex-shrink: 0;

color: #FFF;

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
letter-spacing: 0.4px;
}
.homeBack article img {
  width: 100%;
}
