/* homeBack
                   */
.homeBack {
  flex-direction: column;
}
.slider-main {
  display: none;
}
.homeBack article {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.homeBack .slider-info h2 {
  color: #fff;
  padding-left: 3%;
  padding: 2%;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1.15px;
  background-color: #ff9900;
  margin-bottom: 9px;
}
.homeBack .slider-info p {
  padding-left: 3%;
  padding: 2%;
  margin-bottom: 9px;
  background: rgba(0, 0, 0, 0.60);
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
.homeBack article img {
  width: 100%;
  display: block;
  height: auto;
  filter: brightness(95%);
}
.slider-info {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 0;
  width: 40%;
}

@media (max-width: 1100px) {
}
@media (max-width: 910px) {
  .homeBack .slider-info h2 {
    font-size: 15px;
  }
  .homeBack .slider-info p {
    font-size: 15px;
  }
}
@media (max-width: 760px) {
  .about {
    grid-template-columns: repeat(2, 1fr);
    grid-column: 2;
  
  }

  .statisticCon {
    grid-template-columns: repeat(2, 1fr);
    grid-column: 2;
  }
}

@media (max-width: 710px) {
}
@media (max-width: 580px) {
    .about {
        grid-template-columns: repeat(1, 1fr);
        grid-column: 1;
        grid-template-areas:
            "griditem"
            "griditem"
            "griditem";
    }
    
    .statisticCon {
        grid-template-columns: repeat(1, 1fr);
        grid-column: 1;
    }
}


/* 
                      */

.about {
  display: grid;
  width: 80vw;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.griditem {
  justify-self: center;
  text-align: center;
  font-size: 13px;
  align-items: center;
  border-radius: 4px;
  background: #fff;
  border-radius: 4.474px;
  border: 0.2px solid #f0f0f0;
  padding: 6%;
}
.griditem p {
  color: #343434;
  text-align: justify;
  font-size: 15px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.griditem h2 {
  color: #1d1d1d;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.3px;
}
.griditem a {
  border: 0.5px solid  #e3e3e3;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
  color: #ff9f00;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

.griditem a:hover {
  background-color: #ff9900;
  color: #fff;
}


/*statistic*/

.statistic {
  display: grid;
  align-items: center;
  margin-top: 5rem;
  background: url("/Picture/home3.webp"), lightgray 50% / cover no-repeat;
  filter: brightness(80%);
  width: 100%;
  height: 250px;
}
.statisticCon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: auto;
  gap: 2rem;
}
.statisticItem {
  justify-self: center;
  text-align: center;
  font-size: 13px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
}
.statisticItem h2 {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  margin-top: 20px;
  line-height: 40px;
  letter-spacing: 3px;
}
.statisticItem p {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  margin-top: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 1px;
}

/*uilchilgee*/

.serviceCon {
  display: grid;
  width: 80vw;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}

.serviceItem {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #5c5c5c;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 15px;
}
.serviceItem:hover {
  background-color: #ff9900;
}

/*project_map*/

.project_map img{
  display: flex;
  justify-content: center;
}



/*texnicCon*/

.texnicCon {
  display: grid;
  width: 80vw;
  margin: auto;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.texnicItem {
  position: relative;
  
}
.texnicItem img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px;
  position: relative;
  z-index: -5;
}
.hoverItem {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  width: 100%;
  height: 0;
  z-index: 5;
  transition: 1s ease;
  
}

.texnicItem:hover {
  scale: 1.3;
}
.texnicItem:hover .hoverItem {
  height: 100%;
  z-index: 11111;
}

.hoverItem {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
}

.textitem{
  display: grid;
  grid-template-columns: auto auto;
}
.textCon h3 {
  text-align: center;
  font-size: 13px;
}
.textCon .textitem .starttext{
  text-align: start;
  padding-left: 4px;
}
.textCon .textitem .endtext{
  text-align: end;
  padding-right: 4px;
}


/*-------------------------------slide---------------*/

/* Slider */
/*--------------------------------------ажлын зар дүрэм 2----------*/
.twoSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80vw;
  margin: auto;
}
/*---------------------------------------------Ажлын зар*/
.workCon {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0;
  justify-content: stretch;
  border-radius: 3px;
  width: 350px;
  height: 135px;
  box-shadow: 0.75936px 3.03743px 3.03743px 0px rgba(0, 0, 0, 0.25);
}
.work-left {
  display: grid;
  grid-template-columns: auto auto;
}
.work-left p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-left p:first-child {
  margin-left: 1rem;
  font-size: 80px;
  font-weight: 800;
}
.work-left p {
  margin-left: 1rem;
  font-size: 20px;
  font-weight: 800;
}
.workCon img {
  width: 133px;
  right: 0;
}

.work-rigth {
}

.work-button {
  position: relative;
  width: 60%;
  top: -50%;
  left: 36%;
  text-align: center;
  border-radius: 3px;
}

/************huuli**********/
.law{
  display: grid;
  grid-template-columns: auto auto auto auto auto;

}
.lawitem2 {
  grid-column: 2 / 6;
  color:#5d5d5d;
  font-weight:600;
}