.header-img {
  display: flex;
  position: relative;
  background: url("/Picture/home2.webp") center center/cover no-repeat;
  width: 100%;
  height: 50vh;
}

.workCon {
  display: grid;
  width: 80vw;
  margin: auto;
  grid-template-columns: repeat(1, 1fr);
  gap: 0rem;
}
.workCon article {
  background-color: #f7f7f7;
  border-bottom: 1px solid #a8a8a8;
  padding: 1%;
  font-size: 16.706px;
}
.ognooCon {
  display: grid;
  width: 80vw;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.ognooItem {
  font-style: italic;
  color: #8d8d8d;
}
.workCon article h3 {
  font-weight: 400;
  color: #4c4c4c;
}
.workCon article p {
  font-weight: 400;
  font-size: 16.706px;
}
.work-title{
  font-size: 20px;
  font-weight:400;
  margin-bottom: 1rem;
}
